In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
#store the csv you saved created in part one into a dataframe
city_data_df =pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudness,Wind Speed
0,0,Ponta Delgada,PT,2022-03-26 20:35:39,37.7333,-25.6667,59.72,82,40,8.05
1,1,Provideniya,RU,2022-03-26 20:36:54,64.3833,-173.3000,18.64,89,100,1.03
2,2,Magnolia,US,2022-03-26 20:38:43,33.2671,-93.2393,71.29,36,57,3.62
3,3,Upernavik,GL,2022-03-26 20:38:44,72.7868,-56.1549,12.79,92,100,5.84
4,4,Saldanha,ZA,2022-03-26 20:38:45,-33.0117,17.9442,68.05,82,65,6.51
5,5,Botwood,CA,2022-03-26 20:38:45,49.1499,-55.3482,37.90,100,100,2.82
6,6,Torbay,CA,2022-03-26 20:35:34,47.6666,-52.7314,40.28,94,100,10.36
7,7,Qaanaaq,GL,2022-03-26 20:38:46,77.4840,-69.3632,0.50,93,99,3.89
8,8,Hilo,US,2022-03-26 20:38:47,19.7297,-155.0900,78.53,69,100,6.91
9,9,Chuy,UY,2022-03-26 20:34:11,-33.6971,-53.4616,69.82,66,61,13.65

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudness       int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your googleAPI key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.

clouds = city_data_df["Cloudness"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights= clouds, dissipating =False, max_intensity=300, point_radius =4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.

wind = city_data_df["Wind Speed"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating =False, max_intensity=300, point_radius =4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudness,Wind Speed
8,8,Hilo,US,2022-03-26 20:38:47,19.7297,-155.0900,78.53,69,100,6.91
11,11,Saint-Georges,GD,2022-03-26 20:38:48,12.0564,-61.7485,82.08,69,20,20.71
15,15,Rikitea,PF,2022-03-26 20:38:51,-23.1203,-134.9692,79.18,73,4,13.11
17,17,Lima,PE,2022-03-26 20:38:50,-12.0432,-77.0282,75.38,82,0,10.36
21,21,Inirida,CO,2022-03-26 20:38:54,3.8653,-67.9239,75.76,93,100,2.01
25,25,Bodden Town,KY,2022-03-26 20:38:56,19.2833,-81.2500,79.00,76,75,10.00
26,26,Montanha,BR,2022-03-26 20:38:57,-18.1269,-40.3633,78.57,72,14,9.55
27,27,Puerto Ayora,EC,2022-03-26 20:38:58,-0.7393,-90.3518,80.56,76,51,9.15
28,28,Doctor Arroyo,MX,2022-03-26 20:38:58,23.6667,-100.1833,75.54,11,39,8.34
31,31,Oriximina,BR,2022-03-26 20:39:00,-1.7656,-55.8661,80.29,90,53,3.40

In [15]:
preferred_cities_df.count()

City_ID       140
City          140
Country       140
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudness     140
Wind Speed    140
dtype: int64

In [16]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudness,Wind Speed
8,8,Hilo,US,2022-03-26 20:38:47,19.7297,-155.0900,78.53,69,100,6.91
11,11,Saint-Georges,GD,2022-03-26 20:38:48,12.0564,-61.7485,82.08,69,20,20.71
15,15,Rikitea,PF,2022-03-26 20:38:51,-23.1203,-134.9692,79.18,73,4,13.11
17,17,Lima,PE,2022-03-26 20:38:50,-12.0432,-77.0282,75.38,82,0,10.36
21,21,Inirida,CO,2022-03-26 20:38:54,3.8653,-67.9239,75.76,93,100,2.01
...,...,...,...,...,...,...,...,...,...,...
393,393,Fare,PF,2022-03-26 20:51:17,-16.7000,-151.0167,81.97,72,75,13.18
397,397,San Ramon,US,2022-03-26 20:51:20,37.7799,-121.9780,77.22,53,0,9.22
398,398,Ahome,MX,2022-03-26 20:51:21,25.9167,-109.1833,86.05,20,100,11.48
399,399,Numaran,MX,2022-03-26 20:51:21,20.2500,-101.9333,87.75,9,1,3.13
400,400,Pochutla,MX,2022-03-26 20:51:22,15.7432,-96.4661,89.82,48,97,8.28

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
8            Hilo      US     78.53  19.7297 -155.0900
11  Saint-Georges      GD     82.08  12.0564  -61.7485
15        Rikitea      PF     79.18 -23.1203 -134.9692
17           Lima      PE     75.38 -12.0432  -77.0282
21        Inirida      CO     75.76   3.8653  -67.9239
25    Bodden Town      KY     79.00  19.2833  -81.2500
26       Montanha      BR     78.57 -18.1269  -40.3633
27   Puerto Ayora      EC     80.56  -0.7393  -90.3518
28  Doctor Arroyo      MX     75.54  23.6667 -100.1833
31      Oriximina      BR     80.29  -1.7656  -55.8661

In [18]:
# Import API key
from config import g_key

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] =f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): 
        print("Hotel not found... skipping.")
        
hotel_df.head()

NameError: name 'params' is not defined

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))